*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #3b2020;
    font-family:'Montserrat', sans-serif;
}

.about-section{
    margin-top: 0px;
    background: url(./Web-elemetns-20210829T064749Z-001/Web-elemetns/cse.jpg) no-repeat left;
    background-size: 60%;
    background-color: #6e6e6e;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #041641;
    padding: 150px;

}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
}
.inner-container h3{
    padding: 10px 0;
    color: aqua;
}
.inner-container h5{
    color: rgb(0, 255, 0);
}
.border{
    height: 4px;
    width: 100px;
    background-color: rgb(245, 60, 28);
}
.text{
    font-size: 13px;
    color: #ffffff;
    line-height: 30px;
    text-align: justify;
}
.link{
    text-decoration: underline;
    cursor: pointer;
    font-weight: lighter;
    font-size: 13px;
    color: rgb(0, 153, 255);
}
.social{
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.footer-col i{
    display: inline-block;
    color: rgb(0, 255, 0);
    font-size: 1.5rem;
    margin-inline: 4px;
    transition: 2s ease-in;
}
.footer-col i:hover{
    color: rgb(0, 255, 213);
}
.copyright{
    color: #152b5d;
    margin-top: 10px;
}
@media (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }

}
@media (max-width:600px){
    .about-section{
        background-size: 300%;
        padding: 0;
        margin-top: 0;
    }
    .inner-container{
        margin-top: 50px;
        padding: 60px;
    }
}