@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family:'Montserrat', sans-serif;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 15px 0;
  
  /* background: rgba(2, 6, 63, 0.767); */
  background:linear-gradient(45deg,rgba(0, 195, 255, 0.52),rgb(3, 52, 131));
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu-list{
  display: inline-flex;
}
.navbar  .logo img{
  float: left;
  width: 23%;
  height:100%;
  margin-left: 15px;
}

.navbar .menu-list{
  display: inline-flex;
  float: right;
  margin-right: 10px;
  justify-content: space-around;
  align-items: center;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #ffffff;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 16px;
  transition: all 0.3s ease;
  
}
.menu-list li a:hover{
  color: cyan;
}
.icon{
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  left: 10px;
  top: 20px;
}
#hero{
  height: 100vh;
  width: 100%;
}
#hero video{
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 5;
  object-fit: fill;
}
#preload video{
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 9999;
  object-fit: fill;
  position: fixed;
}
/*--------------events--------------*/
#event{
  background:#021841;
  /* background-position: center; */
  min-height: 700PX;
  width: 100%;
  /* background-position: center; */
  background-size: cover;
  display: flex;
  
  justify-content: center;
  
}
#webinar{
  background:rgb(2, 21, 22);
  /* background-position: center; */
  min-height: 700PX;
  width: 100%;
  /* background-position: center; */
  background-size: cover;
  display: flex;
  
  justify-content: center;
}
svg text{
  stroke: #0ce9c4;
  font-size: 70px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate;
}
@keyframes textAnimate{
  0%{
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100%{
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 20%;
  }
}

.containerr{
  position: absolute;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.containerr .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 130px 0;
}
#one{
  margin-top: 260px;
}
.containerr .card:nth-child(odd){
  flex-direction: row;
}
.containerr .card:nth-child(even){
  flex-direction: row-reverse;
  text-align: right;
}
.containerr .card .imgBx{
  position: relative;
  left: 25px;
  width: 500px;
  height: 400px;
  z-index: 1;
}
.containerr .card:nth-child(even) .imgBx{
  left: -25px;
}
.containerr .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerr .card .contentBx{
  position: relative;
  right: 25px;
  width: 500px;
  height: 400px;
  background:#004aac;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px 20px 100px ;
}
.containerr .card .contentBx.bx{
  background:rgb(0, 61, 160);
}
.containerr .card:nth-child(even) .contentBx{
  right: -25px;
  padding: 20px 100px 20px 60px ;
}
.containerr .card .contentBx::before{
  content: '';
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  background:#004aac;
  z-index: -1;
}
.containerr .card .contentBx.bx::before{
  background:rgb(0, 61, 160);
}
.containerr .card .contentBx h2{
  font-size: 30px;
  color: #00fff2;
}
.containerr .card .contentBx.bx h2{
  color: #00ffd5;
}
.containerr .card .contentBx p{
  margin-top: 10px;
  color: #fff;
}
.containerr .card .contentBx a{
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  background: linear-gradient(45deg,rgba(0, 195, 255, 0.52),rgb(3, 52, 131));
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 2s ease-in-out;
}
.containerr .card .contentBx.bx a{
  background: linear-gradient(45deg,rgb(4, 66, 63),rgb(2, 3, 37));
  border-radius: 10px;
  transition: 2s ease-in;
}

#sub3 a{
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background: linear-gradient(45deg,rgba(0, 195, 255, 0.52),rgb(3, 52, 131));
  border: 1px solid #fff;
  transition: 1s ease-in-out;
}
.containerr .card .contentBx a:hover{
  background: linear-gradient(45deg,rgb(21, 173, 16),rgba(22, 129, 18, 0.883));
  border: 1px solid #ffffff;
  color: #ffffff;
}


.popup{
  position: fixed;
  padding: 3rem 0;
  /* background-color:#021841; */
  height: 85vh;
  overflow: hidden;
  z-index: 400;
  visibility: hidden;
  opacity: 0;
  line-height: 1.4rem;
  width: 80%;
  margin: 0 auto;
}
.popup:target{
  visibility: visible;
  opacity: 1;
}
.popup .popup_content{
  background-color: rgba(255,255,255,0.973);
  /* box-shadow: 0 .4rem 0.3rem .3rem #555555ad; */
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 2.5em;
}
.popup .popup_content{
  position: relative;
}
.popup_content .tabs{
  display: flex;
  overflow: auto;
  
}
.popup_content .tabs a{
  display: block;
  padding: 10px 20px;
  font-size: 21px;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  color: #0b0944;
  font-weight: 700;
}
.tabs a.active{
  border-bottom: 4px solid #00fff2;
  display: block;
}

.popup .popup_content .eve{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup .popup_content .eve .col{
    width: 45%;
    height: 40vh;
}
.popup .popup_content h1{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 800;
}
.border{
    height: 4px;
    width: 100px;
    background-color: rgb(245, 60, 28);
}
.popup .popup_content img{
  width: 100%;
  height: 100%;
  padding: 5px 0;
  border-radius: 1rem;
  margin-top: 3px;
}
.popup .popup_content .close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: rgb(88,88,88);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  transition: all .3s;
}
.popup .popup_content .close:hover{
  color: #33d9b2;;
}
.popup .content--text{
  margin-top: 2rem;
  text-align: center;
}
.popup .content--text .subtab{
  font-size: 1rem;
  padding: 1rem;
}
.popup .content--text h4{
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
}
.popup .content--text .sub_text{
  font-size: 1.4rem;
  font-weight: 400;
}
#evenT2,#evenT4,#evenT6,#evenT8,#evenT10,#evenT12{
  display: none;
}
.event1{
  padding: 20px 0;
  animation: fadeEffect 1s;
}
.popup_content:first-of-type{
  display: block;
}
.c:first-of-type{
  display: block;
}

.content--text tabs{
  display: flex;
  overflow: auto;
}


@keyframes fadeEffect{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgb(207, 208, 216);
  background-color: #0b0a31;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  color: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(23, 10, 212);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(0, 96, 206);
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color:rgb(0, 96, 206);
  border-top: none;
  width: 100%;
  color: #fff;
  height: 100%;
}
.content h4{
  color: rgb(38, 255, 0);
}
.tabcontent.p{
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.tabcontent.l{
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.tabcontent h3{
  color: rgb(51, 253, 0);
}
.contentBx.bx{
  justify-content: center;
}
.tabcontent a{
  display: inline-block;
  margin: 80px 50px;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  background: linear-gradient(45deg,rgba(0, 195, 255, 0.52),rgb(3, 52, 131));
  border: 1px solid #fff;
  align-items: center;
  border-radius: 20px;
}


@media (max-width:600px){
  .containerr{
    margin-top: -30px;
  }
  .containerr .card{
    flex-direction: column;
    max-width: 350px;
    margin: 25px 25px;
    border-radius: 50px;
  }
  .containerr .card .imgBx{
    width: 100%;
    height: 250px;
    left: 0;
    
  }
  .containerr .card .imgBx img{
    border-radius: 20px 20px 0 0;
  }
  .containerr .card .contentBx{
    width: 100%;
    height: auto;
    right: 0;
    padding: 30px;
    text-align: left;
  }

  .popup .popup_content .eve .col{
    height: 25vh;
  }
  
  .containerr .card .contentBx::before{
    top: 0;
    bottom: 0;
  }
  .containerr .card:nth-child(even) .imgBx{
    left: 0px;
  }
  .containerr .card:nth-child(even) .contentBx{
    right: 0px;
    padding: 30px;
  }
  .popup{
    height: 100vh;
    width: 95%;
    margin-top: 1rem;
  }

  .tab button {
    padding: 7px;
  }
  .popup .popup_content .eve{
      flex-direction: column;
  }

  .event1{
      padding: 0;
  }

  .popup .popup_content .eve .col{
      width: 100%;
      height: 30vh;
  }

  .popup .popup_content .close{
    top: 1rem;
    right: 1rem;
  }
  
}

@media (max-width:375px){
  .popup{
    height: 93vh;
    width: 87%;
  }
}
@media (max-width:360px){
  .popup .popup_content .eve .col{
    height: 30vh;
  }
  .tab button {
      padding: 5px;
  }
  .popup{
    height: 100vh;
    width: 87%;
  }
}

@media (max-width:600px){
  .navbar .logo img{
    width: 35%;
    margin-left: 5%;
  }
  .icon{
    display: block;
  }
  .icon.menu-btn{
    margin-right: 5%;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    background:linear-gradient(45deg,rgb(24, 192, 243),rgb(3, 52, 131));
    display: block;
    padding:  40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu-list.active{
    right: -5%;
  }
  .navbar .menu-list li{
    margin-top: 50px;
    text-align: left;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
  #hero video{
    object-fit: cover;
  }
  .grid{
    grid-template-columns: repeat(1,1fr);
  }
  .grid > article{
    text-align: center;
  }
  svg{
    margin-bottom: 0px;
    margin-top: -300px;
  }
  svg text{
    font-size: 200px;
  }
  .col{
    margin-top: 20px;
  }
}